@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&display=swap");
@import url("https://db.onlinewebfonts.com/c/ec29c4a1379d2031066ba2cf302b9afa?family=DidotLTW01-Roman");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #967c60;
  --title-color: #000000;
  --text-color: #777777;
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: #f8f4ef;
  --container-color: #efe8e0;
  --container-color-alt: #fff;
  --border-color: #e5e5e5;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "DM Sans", sans-serif;
  --biggest-font-size: 4.75rem;
  --h1-font-size: 3.5rem;
  --h2-font-size: 2.813rem;
  --h3-font-size: 2.25rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.938rem;
  --smaller-font-size: 0.875rem;

  /*========== Font weight ==========*/

  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*=============== BASE ===============*/

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: 0.4s;
  font-family: var(--body-font);
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: "DidotLTW01-Roman";
  font-weight: var(--font-normal);
}
/* REUSED CLASSES */
body {
  position: relative;
}
.row {
  padding: 0;
  margin: 0;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.section-title p {
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  color: var(--title-color);
  letter-spacing: 0.1rem;
}
.section-title h1 {
  font-size: var(--h1-font-size);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

/* HEADER */
.container-fluid {
  padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  transition: 0.3s;
}

.header-top {
  background-color: var(--first-color);
  text-align: center;
}

.header-top p {
  line-height: 40px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
.header-content {
  padding: 0 60px;
  background-color: var(--container-color-alt);
}
/* NAVBAR */
nav .nav-item {
  display: inline-block;
  position: relative;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-toggle,
.nav-close {
  display: none;
}

.nav-link {
  color: var(--title-color);
  font-size: var(--small-font-size);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link i {
  font-size: 10px;
  padding: 0px 5px;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  justify-content: flex-end;
}
.nav-logo {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-item:hover > .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  padding: 15px 0;
  min-width: 230px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-clip: padding-box;
  border: none;
  opacity: 1;
}

.nav-item-lv2 .nav-link {
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}

.nav-item .dropdown-menu {
  top: 50px;
  display: block;
  transition: 0.3s;
  opacity: 0;
}

.nav-search {
  position: relative;
}
.nav-search:hover .search-box {
  opacity: 1;
}

.search-box {
  position: absolute;
  padding: 15px;
  height: fit-content;
  background-color: var(--container-color);
  top: 50px;
  left: -200px;
  font-size: var(--smaller-font-size);
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 4px 8px hsla(0, 0%, 20%, 0.3);
}
.search-input {
  width: 200px;
  font-size: var(--smaller-font-size);
  border: 1px solid #00000074;
  padding: 10px;
}
.search-button {
  font-size: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
}
.nav-shop {
  position: relative;
}

.cart-items {
  position: absolute;
  top: 5px;
  right: -5px;
  font-size: 12px;
  color: #fff;
  background-color: var(--first-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Show Menu */
.show-menu {
  left: 0 !important;
  transition: 0.3s;
}
/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  top: -40px;
}
/*=============== CART ===============*/
.cart {
  position: fixed;
  background-color: var(--body-color);
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  right: -200%;
  padding: 3.5rem 2rem;
  width: 420px;
  box-shadow: -2px 0 4px hsla(0, 0%, 15%, 0.1);
  transition: 0.4s;
}

.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}

.cart__container {
  display: grid;
  row-gap: 1.5rem;
}

.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--border-color);
  height: 100%;
}

.cart__img {
  width: 70px;
}

.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.cart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}

.cart__amount,
.cart__amount-content {
  display: flex;
  align-items: center;
}

.cart__amount {
  column-gap: 3rem;
}

.cart__amount-content {
  column-gap: 1rem;
}

.cart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.cart__prices {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.cart__prices-item {
  font-size: var(--small-font-size);
}

.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
/* Show cart */
.show-cart {
  right: 0;
}

/* BANNER SLIDER */
.banner-slider {
  margin-top: 130px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 70px;
  width: 70px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--container-color-alt);
  top: 50%;
  opacity: 1;
}

.carousel-control-next {
  right: 1%;
}
.carousel-control-prev {
  left: 1%;
}

.caption-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--container-color-alt);
  transition: 0.3s;
  padding-bottom: 20px;
}

.caption-subtitle {
  font-size: var(--smaller-font-size);
  text-transform: capitalize;
  padding-bottom: 10px;
  transition: 0.3s;
  text-align: left;
}

.carousel-caption {
  top: 20%;
  right: initial;
  left: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: block;
  text-transform: uppercase;

  font-size: var(--smaller-font-size);
  padding: 10px 35px;
  background-color: transparent;
  color: var(--container-color-alt);
  border: 1px solid var(--container-color-alt);
  width: fit-content;
  text-align: center;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color);
  transition: 0.3s;
  border: none;
}

/* SERVICE */
.service {
  background-color: var(--container-color);
}

.service-container {
  padding: 20px 0;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 30px 0;
  transition: 0.5s;
  justify-content: center;
}

.service-title {
  font-size: 22px;
  font-weight: 400;
}

.service-desc {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.service-img {
  width: 45px;
  height: auto;
  transition: 0.7s;
}
.service-item:hover .service-img {
  transform: rotateY(360deg);
  transition: 0.7s;
}
/* ============= PRODUCT ============= */
.pd-container {
  transition: 0.3s;
  margin-top: 50px;
  margin-bottom: 100px;
}
.pd-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  width: fit-content;
}
.pd-item-img {
  width: 100%;
}
.pd-tag,
.pd-item-rating {
  position: absolute;
}
.pd-item-rating {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -84px;
  color: #ccc;
  transition: step-end;
  z-index: 999;
}
.star {
  color: #fec42d;
}
.pd-tag {
  top: 14px;
  left: 14px;

  font-size: 12px;
  text-transform: uppercase;
  width: 50px;
  text-align: center;
  background-color: var(--container-color);
  color: var(--title-color);
}
.pd-tag-hover {
  z-index: 999;
}

.pd-hover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 1rem;
}
.pd-hover-img {
  width: 100%;
}

.pd-hover-btns {
  position: absolute;
  width: 100%;
  /* top: 50px; */
  bottom: 10px;
  font-size: 20px;
  display: flex;
  color: var(--title-color);
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pd-hover-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  transition: 0.3s;
}
.pd-hover-btn:hover {
  background-color: var(--first-color);
  color: var(--container-color-alt);
}
.pd-hover-view {
  top: 12px;
}
.pd-hover-like {
  top: 50px;
}
.pd-item:hover .pd-hover {
  opacity: 1;
  transition: 0.5s;
}
.pd-item:hover .pd-price {
  transform: rotateX(90deg);
  transition: 0.5s;
}

.pd-title {
  padding-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0;
  transition: 0.3s;
  text-align: center;
}

.pd-title:hover {
  color: var(--first-color);
}
.pd-price {
  color: var(--title-color);
  font-size: 18px;
  font-weight: var(--font-medium);
  margin-bottom: 20px;
}
.sale-price {
  color: red;
}
.old-price {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: line-through;
  font-weight: var(--font-normal);
}
/* PD TABS */
.nav-pills {
  justify-content: center;
  margin-bottom: 2rem;
  gap: 10px;
  overflow: auto;
}
.nav-pills .nav-link {
  font-size: var(--smaller-font-size);
  background-color: var(--container-color);
  line-height: 24px;
  letter-spacing: 0.05rem;
  padding: 12px 20px;
  color: var(--title-color);
  border-radius: 0px;

  text-transform: uppercase;
}
.nav-pills .nav-link:hover {
  background-color: #fff;
}
.nav-pills .nav-link.active {
  background-color: var(--first-color);
}

/* Timer */
.flash-deal-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  padding: 5px 15px;
  position: absolute;
  bottom: 115px;
}
.days,
.hours,
.minutes,
.seconds {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-bold);
  color: #000;
  text-align: center;
}

.flash-deal-timer div span {
  margin-left: 10px;
  margin-right: 10px;
}
/*=============== BIG BANNER ===============*/
.big-banner-container {
  background-image: url("../img/big-banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 580px;
}

.big-banner-content {
  color: var(--container-color-alt);
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  padding-right: 100px;
}

.big-banner-subtitle {
  font-size: var(--smaller-font-size);
}

.big-banner-title {
  font-size: var(--h2-font-size);
  color: inherit;
}
/*=============== TESTIMONIAL ===============*/
.testimonial {
  margin-top: 100px;
}
.testimonial-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.testimonial-subtitle {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.testimonial-title {
  font-size: var(--h1-font-size);
}

.testimonial-button {
  border-color: var(--title-color);
  color: var(--title-color);
}
.testimonial-item {
  padding: 55px 40px;
  background-color: var(--container-color-alt);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
}
.testimonial-content i {
  font-size: 35px;
  color: var(--first-color);
}
.testimonial-text {
  margin: 25px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.testimonial-avatar {
  display: flex;
  gap: 15px;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-name {
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
}
.testimonial-job {
  font-size: var(--smaller-font-size);
}

/* BLOG */
.blog-container {
  margin-bottom: 100px;
}
.blog-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-img {
  overflow: hidden;
}
.blog-img img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.blog-img:hover img {
  transform: scale(1.1);
  transition: 0.3s;
  filter: blur(2px);
}

.blog-title {
  font-size: var(--h4-font-size);
  transition: 0.3s;
}

.blog-title:hover {
  color: var(--first-color);
}

.blog-desc {
  font-size: var(--small-font-size);
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  color: var(--title-color);
  background-color: var(--container-color);
  opacity: 0;
  transition: 0.3s;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
}
.swiper-button-next {
  right: 4px;
}
.swiper-button-prev {
  left: 4px;
}

.pd-related-content:hover .swiper-button-next,
.pd-related-content:hover .swiper-button-prev,
.blog-content:hover .swiper-button-next,
.blog-content:hover .swiper-button-prev {
  opacity: 1;
  transition: 0.3s;
}
/*=============== FOOTER ===============*/
.footer {
  background-color: #101010;
  color: var(--container-color-alt);
}
.footer-container {
  padding: 100px 0;
}
.footer-item {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
}
.footer-logo {
  height: 70px;
}
.footer-contact h4 {
  color: var(--container-color-alt);
  font-size: 20px;
}

.contact-icon {
  font-size: 20px;
  padding-right: 15px;
}
.footer-title {
  display: flex;
  justify-content: space-between;
}
.accordion-btn {
  background-color: transparent;
  color: var(--container-color-alt);
  font-size: 18px;
  display: none;
  transition: 0.3s;
}
.accordion-active {
  transform: rotate(-180deg);
}
.show-accordion {
  height: initial !important;
  margin-bottom: 20px;
}
.footer-title h4 {
  font-size: 28px;
  color: inherit;
  height: 70px;
}
.footer-link {
  line-height: 35px;
}

.footer-link:hover {
  color: var(--first-color);
}
.footer-text {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-bottom: 25px;
}

.footer-input {
  height: 50px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.footer-button {
  background-color: var(--container-color-alt);
  color: var(--title-color);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  padding-right: 20px;
}

.footer-button i {
  justify-self: center;
  line-height: 50px;
  font-size: 25px;
}

.footer-bottom {
  border-top: 1px solid #7777776e;
}
.footer-copyright {
  font-size: var(--smaller-font-size);
  padding: 30px 0;
}

/*=============== BREADCRUMBS ===============*/
.breadcrumb {
  background-color: var(--container-color);
  height: 150px;
  margin-top: 130px;
  width: 100%;
  align-items: center;
  justify-content: center;

  color: var(--title-color);
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--title-color);
  gap: 5px;
}
.breadcrumb-link {
  font-size: var(--small-font-size);
  text-decoration: underline;
}
.selected {
  text-decoration: none;
}
/*=============== PRODUCT DETAIL ===============*/
.pd-details-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.pd-swiper img,
.pd-swiper2 img {
  width: 100%;
}
.pd-swiper2 {
  margin-bottom: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.1);
}
.pd-swiper {
  padding: 0 12px;
}
.pd-swiper:hover .swiper-button-next,
.pd-swiper:hover .swiper-button-prev {
  opacity: 1;
}

.pd-swiper .swiper-button-next,
.pd-swiper .swiper-button-prev {
  width: 25px;
  height: 25px;
  color: var(--title-color);
  background-color: var(--container-color);
  opacity: 0;
  transition: 0.3s;
  top: 60%;
}
.pd-swiper .swiper-button-next {
  right: 3px;
}
.pd-swiper .swiper-button-prev {
  left: 3px;
}
.pd-swiper .swiper-button-next::after,
.pd-swiper .swiper-button-prev::after {
  font-size: 12px;
}
.pd-details-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pd-details-title {
  font-size: 28px;
}

.pd-details-price {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--title-color);
}
.pd-details-review {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  text-decoration: underline;
  transition: 0.3s;
}
.pd-details-review:hover {
  color: var(--first-color);
}
.pd-details-price span {
  font-size: 13px;
  font-weight: var(--font-normal);
  color: #777;
}
.pd-details-desc {
  font-size: var(--smaller-font-size);
}

.pd-details-option-title {
  font-size: 20px;
  margin-bottom: 0.75rem;
}
#black {
  background-color: #000;
}

#purple {
  background-color: purple;
}

#green {
  background-color: green;
}

#gold {
  background-color: #b96f00;
}
.pd-details-option-color-container li {
  border: 2px solid transparent;
  border-radius: 2px;
}
.pd-details-option-color-container {
  align-items: center;
  gap: 15px;
  height: 30px;
}

.pd-details-option-color {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 2px solid #fff;
  box-shadow: 0 0 4px hsla(0, 0%, 15%, 0.1);
  position: relative;
  cursor: pointer;
}

.color-picked {
  border-color: #000 !important;
}

.pd-details-option-size input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.pd-details-option-size {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  color: #656565;
  margin-right: 32px;
}

.pd-details-option-size .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #252525;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pd-details-option-size .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 1px solid #252525;
  border-radius: 2px;
}
.pd-details-option-size input:checked ~ .checkmark {
  background-color: transparent;
}

.pd-details-option-size input:checked ~ .checkmark::after {
  display: block;
}

.pd-details-quantity {
  display: flex;
  gap: 2rem;
}

.black-btn {
  color: #000;
  border-color: #000;
}
.black-btn:hover {
  color: #fff;
}

.quantity-counter {
  border: 1px solid #f2f2f2;
  width: fit-content;
  transition: 0.3s;
}

.quantity-counter:hover {
  border-color: #000;
}
.quantity-input {
  text-align: center;
  width: 35px;
  line-height: 40px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.quantity-input[type="number"]::-webkit-inner-spin-button,
.quantity-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.minus,
.plus {
  background-color: #fff;
  width: 30px;
}

.pd-details-info span {
  font-size: var(--small-font-size);
  color: #000;
  font-weight: var(--font-bold);
}

.pd-details-info {
  gap: 25px;
}
.pd-details-info,
.pd-details-service {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
}
.pd-details-service {
  border-bottom: 1px dotted #77777776;
}
.pd-details-service li {
  padding: 10px 15px;
  border: 1px dotted #77777776;
  border-bottom: none;
}

.pd-details-service span {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  font-family: "DidotLTW01-Roman";
  color: var(--title-color);
}

/*=============== PRODUCT DESCRIPTION ===============*/
.pd-desc .nav-pills {
  justify-content: start;
}

.pd-desc {
  font-size: var(--smaller-font-size);
  line-height: 26px;
}
.pd-desc p {
  margin: 15px 0;
}

.pd-desc-row {
  margin-top: 30px;
}

.pd-desc-img {
  width: 100%;
  margin-right: 24px;
}

.pd-desc-title {
  font-size: var(--h3-font-size);
}

.pd-desc-subtitle {
  font-size: var(--h4-font-size);
  margin-top: 50px;
  margin-bottom: 15px;
}

.pd-desc-list {
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pd-desc-list li {
  margin-left: 20px;
}
.pd-desc .tab-content {
  padding: 30px;
  border: 1px solid #d2d1d1;
}

/*=============== CATEGORIES ===============*/
.category-container {
  margin-top: 100px;
}

.cate-sidebar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 30px;
}

.cate-sidebar-item {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color-alt);
  padding: 5px;
  gap: 20px;
}

.cate-sidebar-item-title {
  font-size: 22px;
  padding: 7px;

  background-color: var(--container-color);
}

.cate-sidebar-item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 7px;
  margin-bottom: 20px;
}

.cate-sidebar-item-link {
  font-size: var(--smaller-font-size);
  transition: 0.3s;
}

.cate-sidebar-item-link:hover {
  color: var(--first-color);
  text-decoration: underline;
}

/*=============== ABOUT US ===============*/
.about-us-image-slider .swiper-button-next,
.about-us-image-slider .swiper-button-prev {
  color: #fff;
  background-color: transparent;
  opacity: 1;
}
.about-us-image-slider .swiper-button-next::after,
.about-us-image-slider .swiper-button-prev::after {
  font-size: 20px;
}
.about-us-image-slider,
.about-us-item,
.about-us-img {
  margin-bottom: 70px;
}

.about-us-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-title {
  font-size: 50px;
  margin-bottom: 25px;
}

.about-us-text {
  font-size: var(--smaller-font-size);
  margin-bottom: 15px;
}

.about-us-author {
  color: var(--title-color);
}

.about-us-img img {
  width: 100%;
}

/*=============== ACHIEVEMENT ===============*/
.achievement-content {
  background-color: var(--container-color);
  padding: 50px;
  margin-bottom: 100px;
}

.achievement-desc {
  padding: 5px;
  font-size: var(--smaller-font-size);
}

.achievement-title {
  font-size: 50px;
  margin-bottom: 30px;
}

.achievement-data {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.achievement-data-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 25px 0 25px 0;
}

.achievement-data-number {
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.achievement-data-name {
  font-size: var(--small-font-size);
  text-align: center;
}
.gold {
  color: #967c60;
}
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  background-color: var(--first-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 0.5rem;
  z-index: var(--z-tooltip);
  opacity: 0;
  transition: 0.4s;
  border-radius: 50%;
}

.scrollup:hover {
  opacity: 1;
  background-color: #e2d2b1;
}
.scrollup:hover i {
  color: var(--first-color);
}

.scrollup__icon {
  color: var(--container-color-alt);
  font-size: 1.25rem;
}
/* Show Scroll Up*/
.show-scrollup {
  opacity: 0.8;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 74%);
  height: 0.3rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
}
/*=============== RESPONSIVE ===============*/
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .nav-logo img {
    width: 150px;
  }
  .caption-title {
    font-size: 60px;
  }
  .service-title {
    font-size: 18px;
  }
  .big-banner-title {
    font-size: var(--h3-font-size);
  }
  .big-banner-container {
    height: 450px;
  }
  .big-banner-content {
    top: 20%;
  }
  .testimonial-title {
    font-size: var(--h2-font-size);
  }
  .achievement-data {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 992px) {
  .caption-title {
    font-size: 48px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    transform: scale(0.8);
  }
  .carousel-caption {
    left: 10%;
  }
  .nav-list {
    gap: 20px;
    margin-left: 40px;
  }

  .big-banner-container {
    height: 350px;
  }
  .big-banner-content {
    padding-right: 50px;
    left: 40%;
  }
  .big-banner-title {
    font-size: 30px;
  }
  .testimonial-title {
    font-size: var(--h3-font-size);
  }

  .footer-container {
    padding: 50px 0;
  }

  .footer-menu {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .footer-title h4 {
    font-size: 22px;
    height: initial;
    padding: 20px 0;
  }
  .footer-title {
    border-top: 1px solid #7777776b;
  }
  .accordion-btn {
    display: initial;
  }
  .pd-desc-title {
    font-size: 28px;
  }
  .pd-details-content {
    margin-top: 25px;
  }
  .pd-desc-subtitle {
    margin-top: 20px;
  }
  .achievement-data {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-title h1 {
    font-size: var(--h2-font-size);
  }

  .carousel-caption .button {
    padding: 10px 20px;
  }
  .caption-title {
    font-size: 38px;
    padding-bottom: 10px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-transform: uppercase;
    background-color: var(--container-color);
    padding: 80px 100px;
    margin-left: initial;
    height: 100%;
  }
  .nav-link {
    font-size: 20px;
    font-weight: var(--font-medium);
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100%;
    box-shadow: 2px 0px 4px hsla(0, 4%, 15%, 0.1);
    transition: 0.3s;
  }
  .nav-toggle,
  .nav-close {
    display: block;
  }
  .nav-close {
    position: absolute;
    top: 15px;
    left: 270px;
    font-size: 20px;
    color: var(--title-color);
  }
  .nav-btns {
    font-size: 25px;
    gap: 15px;
  }
  .nav-logo {
    justify-content: start;
  }
  .nav.nav-pills {
    flex-wrap: nowrap;
    padding: 7px 15px;
    width: 100%;
    white-space: nowrap;
    justify-content: start;
  }
  .nav-pills .nav-link {
    font-size: 12px;
    padding: 7px 15px;
  }
  .big-banner-container {
    background-attachment: initial;
  }
  .big-banner-content {
    gap: 15px;
    left: 5%;
  }
  .testimonial-description {
    align-items: center;
    margin-bottom: 50px;
  }
  .testimonial-title {
    text-align: center;
  }
  .pd-desc-title {
    margin-top: 25px;
  }
  .pd-related-content .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .section-title h1 {
    font-size: 28px;
  }
  .banner-slider {
    margin-top: 90px;
  }
  .carousel-caption {
    transform: scale(0.8);
    left: 3%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .caption-subtitle,
  .carousel-caption .button {
    font-size: 13px;
    padding: 5px 10px;
  }
  .caption-title {
    font-size: 22px;
  }
  .caption-subtitle {
    display: none;
  }
  .header-content {
    padding: 0;
  }
  .header-top {
    display: none;
  }
  .scroll-header {
    top: 0;
  }
  .service-container {
    padding: 0 30px;
  }
  .pd-content {
    padding: 0 50px;
  }
  .big-banner-title {
    font-size: 20px;
  }
  .big-banner-button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .big-banner-container {
    height: 250px;
  }
  .testimonial-title {
    font-size: 28px;
  }
  .blog-content {
    padding: 50px;
  }
}
